.accountInfo {
    border: 1px solid white;
    justify-content: right;
    padding: 10px;
    margin-top: 2px;
    background-color: #e6db7a;

    p {
        letter-spacing: 2px;
        font-size: smaller;
    }
}