<div class="centered-content">
    <div class="container">
        <div class="profile has-background-light" *ngFor="let wallets of wallet">
            <h1 class="title has-text-primary">WALLET</h1>
            <div class="headers">
                <div class="title has-text-secondary">WALLET ID: {{ wallets.walletId }} </div>
            </div>
            <div class="headers">
                <div class="title has-text-secondary">BALANCE: NGN{{ wallets.walletAmount }} 
                    <span *ngIf="pendingTransactionExists" style="color: red;"><i>Pending</i></span>  </div>
            </div>
            <!-- Profile Display-->
            <div class="profile-content">
                <div class="profile-tags title has-text-primary" [routerLink]="[wallets._id]">FUND WALLET</div>
                <div class="profile-tags title has-text-primary" (click)="navigateWithdraw()">WITHDRAWAL</div>
                <div class="profile-tags title has-text-primary" (click)="navigate()">MY CYCLES</div>
                <div class="transactions">
                    <table class="table is-bordered is-fullwidth">
                        <thead style="width: fit-content;">
                            <tr>
                                <th>sn</th>
                                <th>Transaction ID</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Action</th>
                                <th>Holder</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let transaction of transactions; ; index as i">
                            <tr>
                                <th>{{ i + 1 }}</th>
                                <th>{{ transaction.transactionId }}</th>
                                <th>{{ transaction.date }}</th>
                                <th>{{ transaction.depositAmount }}</th>
                                <th>{{ transaction.action }}</th>
                                <th>{{ transaction.holder }}</th>
                                <th>{{ transaction.newBalance }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>