<div class="centered-content">
    <div class="container">
        <div class="profile has-background-light">
            <h1 class="title has-text-primary">WELCOME</h1>
            <!-- Profile Forms-->
            <div class="profile-content">

                            <!-- Start of Profile Forms-->


<app-progress>
    <app-progress-step>
        <h1>Step 1</h1>
        <button progressStepNext>next</button>
    </app-progress-step>
    <app-progress-step>
        <h1>Step 2</h1>
        <button progressStepPrev>prev</button>
        <button progressStepNext>next</button>
    </app-progress-step>
    <app-progress-step>
        <h1>Step 3</h1>
        <button progressStepPrev>prev</button>
        <button progressStepNext>next</button>
    </app-progress-step>
    <app-progress-step>
        <h1>Step 4</h1>
        <button progressStepPrev>prev</button>
        <button progressStepNext>next</button>
    </app-progress-step>
</app-progress>


                            <!-- End of Profile Forms-->


            </div>
        </div>
    </div>
</div>
