<div class="centered-content">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="modal-box">

            <h1 class="title has-text-primary">SIGN UP</h1>
            <div class="field">
                <p class="control">
                    <input class="input is-small has-background-light is-medium" placeholder="Username"
                        formControlName="username">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type='password' class="input is-small has-background-light is-medium" placeholder="Password"
                        formControlName="password">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type='password' class="input is-small has-background-light is-medium" placeholder="Enter Password Again"
                        formControlName="password2">
                </p>
                <div *ngIf="password2.touched || password2.dirty">
                    <span *ngIf="!passwordMatch" class="danger"><i>Both Passwords Must Match</i></span>
                    <span *ngIf="passwordMatch" class="danger"></span>
                </div>
                <div *ngIf="badRequestError">
                    <span class="danger"><i>Username is Invalid</i></span>
                </div>
            </div>
            <div class="field is-pulled-right">
                <p class="control">
                    <button class="button is-success" [disabled]="signupForm.invalid" type="submit">
                        Sign Up
                    </button>
                </p>
            </div>

            <!-- <br> -->
            <div class="field">
                <p>Got an account? <br> <a routerLink="/login">Login</a> here!</p>
            </div>
        </div>

    </form>
</div>