<div class="centered-content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="modal-box">

            <h1 class="title has-text-primary">LOGIN</h1>
            <div class="field">
                <p class="control">
                    <input class="input is-small has-background-light is-medium" placeholder="Username"
                        formControlName="username">
                </p>
            </div>
            <div class="field" style="display: flex; justify-content: flex-end">
                <p class="control">
                    <input type='password' class="input is-small has-background-light is-medium" placeholder="password"
                        formControlName="password">
                </p>
            </div>
            <div *ngIf="badRequestError">
                <span class="danger" style="margin-bottom: 5px;"><i>Username or Password Incorect</i></span>
            </div>
            <div class="field is-pulled-right">
                <p class="control">
                    <button class="button is-success" type="submit">
                        Login
                    </button>
                </p>
            </div>

            <!-- <br> -->
            <div class="field">
                <p>Not got an account? <br> <a routerLink="/signup">Sign up</a> now!</p>
            </div>
        </div>
    </form>
</div>