<div class="centered-content">
    <div class="container">
        <div class="cycle-list has-background-white">
            <h1 class="title has-text-primary">CYCLES</h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let cycle of cycles" routerLinkActive='is-active'
                    [routerLink]="['/cycle', cycle._id]">
                    <p (click)="getDetails(cycle._id)">{{ cycle.cycleAmount }}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-cycle">Create Cycle</button>
        </div>
        <div class="profile has-background-light">
            <h1 class="title has-text-primary">PROFILE</h1>

            <div class="list-menu-item" *ngFor="let wallets of wallet">
                <p>{{ wallets._id }}</p>
            </div>
            <p class="control" type="submit" *ngIf = "check">
                <button (click)="joinCycle()" class="button is-primary has-text-white">
                    Join
                </button>
            </p>

        </div>
    </div>
</div>