<div class="centered-content">
    <div class="container">
        <div class="cycle-list has-background-white">
            <h1 class="title has-text-primary">CYCLES</h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let cycle of cycles" routerLinkActive='is-active'>
                    <p (click)="getDetails(cycle._id)">{{ cycle.cycleAmount }}/{{ cycle.frequency }}</p>
                </a>
            </div>
        </div>
        <div class="profile has-background-light">
            <div class="top-bar">
                <div class="">
                    <h1 class="title has-text-primary">CYCLE DETAILS</h1>
                </div>
                <div class="navigation">
                    <div class="todashboard">
                        <a (click)="todashboard()">
                            Dashboard
                        </a>
                    </div>
                    |
                    <div class="logout">
                        <a (click)="logout()">
                            Logout
                        </a>
                    </div>
                </div>
            </div>

            <div class="profile-content">
                <div class="profile-tags" *ngFor="let wallet of wallets">
                    <div class="card-content" (click)="leaveCycle(wallet._userId)">
                        <div class="media">
                            <div class="media-left">
                                <!--<figure class="image is-48x48">
                                    <img alt="Placeholder image">
                                </figure>-->
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ wallet._id }}</p>
                                <p class="subtitle is-6">{{ wallet.walletId }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-bar">
                <div style="padding-top: 20px;">
                    <h1 class="title has-text-primary">MORE INFORMATION</h1>
                </div>
            </div>
            <div class="details" *ngIf="lengthOfWallet">
                <div class="leftpanel">
                    <div>
                        <p>The Value of Unit Contibution</p>
                    </div>
                    <div>
                        <p>For How Long? </p>
                    </div>
                    <div>
                        <p>Number of Participating Wallets</p>
                    </div>
                    <div>
                        <p>This Cycle will commence on</p>
                    </div>
                </div>
                <div class="rightpanel" *ngFor="let cycle of cycleDetails">
                    <div>
                        <p>{{ cycle.cycleAmount }} </p>
                    </div>
                    <div>
                        <p>{{ cycle.cycleDuration }}/{{ cycle.frequency}}
                        </p>
                    </div>
                    <div>
                        <p>{{ lengthOfWallets }} </p>
                    </div>
                    <div>
                        <p>{{ cycle.cycleStartDate }} </p>
                    </div>
                </div>
            </div>
            <span *ngIf="alreadyJoined">You have already joined this circle</span>
            <span *ngIf="insufficientFunds" style="color: red; padding-top: 5px;">INSUFFICIENT FUNDS <a routerLink="/wallet"><b>FUND YOUR WALLET NOW!</b></a></span>
            <span *ngIf="pendingTransfer" style="color: red; padding-top: 5px;">WALLET FUNDING IN PROCESS... <a routerLink="/wallet"><b>Please be Patient!</b></a></span>
                <div *ngIf="lengthOfWallet && check" class="button" (click)="joinCycle()"
                    class="button is-primary has-text-white">
                    <p class="control" type="submit">
                        Join This Cycle. (NGN {{ costOfCycle }})
                    </p>
                </div>
        </div>
    </div>
</div>