<div class="centered-content">
    <form [formGroup]="cycleForm" (ngSubmit)="createNewCycle()">
    <div class="modal-box">
        <h1 class="title">Create Your CYCLE</h1>
        <div class="field">
            <p class="control">
              <input class="input is-small has-background-light is-medium" placeholder="How Long Is The Cycle?" formControlName="cycleDuration">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input is-small has-background-light is-medium" placeholder="Monthly or Weekly" formControlName="frequency">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input is-small has-background-light is-medium" placeholder="Amount" formControlName="cycleAmount">
            </p>
          </div>
          <!--<div class="field">
            <p class="control">
              <input class="input is-small has-background-light is-medium" placeholder="Select Start Date" [disabled]="disable" formControlName="cycleStartDate">
            </p>
          </div>-->
          <div class="field">
            <p class="control">
              <button class="button is-success" type="submit">
                Create
              </button>
              <button class="button is-danger" routerLink="/">Back</button>

            </p>
          </div>

    </div>
</form>
</div>
