<div class="centered-content">
    <div class="container">
        <div class="profile has-background-light" *ngFor="let profiles of profile">
            <h1 class="title has-text-primary">WELCOME BACK {{ profiles.firstName }}</h1>
            <div class="headers">
                <div class="title has-text-secondary">{{ profiles.username }} </div>

                <div class="has-text-secondary" *ngIf="!completeProfile">
                    <p> <a [routerLink]="['/welcome']" >INCOMPLETE PROFILE: </a> You have not provided some information. </p>
                </div>
            </div>

            <!-- Profile Display-->
            <div class="profile-content" *ngIf="completeProfile">
                <div class="profile-tags title has-text-primary">
                    <a [routerLink]="['/wallet']" (click)=createWallet(profiles.username)>
                        WALLET
                    </a>
                </div>
                <div class="profile-tags title has-text-primary" *ngIf="!locked">
                    <div class="flex-column">
                        <a [routerLink]="['/cycle']">
                            CYCLES
                        </a>
                    </div>
                </div>
                <div class="profile-tags title has-text-primary" *ngIf="locked" style="cursor: not-allowed;">
                    <div class="flex-column">
                        <a style="color: red; cursor: not-allowed;">
                            CYCLES
                        </a>
                    </div>
                </div>
                <div class="profile-tags title has-text-primary" *ngIf="!locked">
                    <div class="flex-column">
                        <a>MESSAGES</a> <br>

                    </div>
                </div>
                <div class="profile-tags title has-text-primary" *ngIf="locked" style="cursor: not-allowed;">
                    <div class="flex-column">
                        <a style="color: red;">MESSAGES</a>
                    </div>
                </div>
                <div class="profile-tags title has-text-primary" [disabled]="locked">INVEST</div>
                <div class="profile-tags title has-text-primary" [disabled]="locked">REFER</div>
                <div class="profile-tags title has-text-primary" [disabled]="locked">AJO</div>

            </div>
        </div>
    </div>
</div>