@import '../../../main-styles.scss';

@media only screen and (max-width: 720px) {
    html {
        background: white;
    }

    a {
        color: $dark-orange;
    }
    
    .container {
        height: 100%;
        justify-content: center;
    }

    .title {
        font-family: 'Lato';
        font-size: 150%;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        text-align: left;
        padding-left: 1vh;
    }

    .profile-content {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 20px;
        height: 100%;
        border-radius: 5px;
        margin-top: 5%;
        box-shadow: 0 0 20px 3px rgb(0 0 0 / 20%);
        
        .profile-tags {
            display: flex;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            background: $deep-yellow;
            flex-grow: 1; 
            font-size: 250%;   
        }
    }

}

@media only screen and (min-width: 720px) {
.container {
    display: flex;
    width: 100px;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 30px;
    width: 70%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Lato';
    font-size: 3vh;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding: 10px;
    text-align: center;
}



.profile-content {
    display: flex;
    background: white;
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    flex-flow: wrap;

    
    .profile-tags {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin: 5px;
        background: $deep-yellow;
        width: 30%;
        height: 45%;
        flex-grow: 1;
        font-size: 2vh;

        &:hover {
            box-shadow: 1.5px 1.5px $orange;
            transition: ease-in-out 0.2s;
            cursor: pointer;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding-top: -30px;
}
}